@model HouseModel

@{
	ViewBag.Title = "Edit House";
}

<h3 class="text-center">@ViewBag.Title</h3>
<hr />

<partial name="_HouseFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
